@media (min-width: 980px) {
  body.toolbar.html {
    padding-top: 30px !important;
  }

  body.toolbar-drawer.html {
    padding-top: 65px !important;
  }

  body {
    padding-top: 0px;
  }
}

body {
  color: #ccc;
}

a {
  color: white;
}

h1, h2, h3, h4, h5, h6 {
  color: white;
}

.well h1, .well h2, .well h3, .well h4, .well h5, .well h6 {
  color: black;
}

.well a {
  color: #666;
}

/*#spacer {
  background: url('img/overlay_75.png');
}*/

#content {
  background: url('img/overlay_75.png');
  padding: 0px 100px;
  min-height: 980px;
}

.nav {
  margin-bottom: 0px;
}

.nav > li > a:hover, .nav > li > a:focus {
  background: none;
}

.nav-collapse {
  display: inline-block;
  width: 100%;
}

nav ul.menu.nav li {
  float: left;
  width: 100%;
}

nav ul.menu.nav li a {
  background: url('img/overlay_75.png');
  text-align: center;
  padding: 10px 0px;
  margin-bottom: 5px;
  font-family: 'Caesar Dressing';
  font-size: 30px;
  text-transform: uppercase;
  color: white;
}

nav ul.menu.nav li ul.dropdown-menu {
  display: block;
  margin: 5px 0px 5px 0px;
  padding: 0px;
  width: 100%;
  position: static;
  border: 0px;
  background: none;
}

nav ul.menu.nav li ul.dropdown-menu li a {
  font-size: 15px;
  margin: 0px;
  padding: 3px 0px;
  width: 100%;
}

.container-fluid {
  padding: 0px;
}

h4.slogan {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Caesar Dressing';
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 25px;
}

h4.slogan-2.slogan {
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 15px;
}

.logo.pull-left {
  float: none;
}

#logo-container > div {
  background-color: transparent !important;
  left: -50px;
}

img.vegas-background {
  height: auto !important;
  width: 150% !important;
}

#fb-button {
  color: #3B5998; font-size: 4.5em; width: 43%; float: left;
}

#tw-button {
  color: #4099FF; font-size: 4.5em; width: 30%; float: left;
}

#fb-button:hover, #tw-button:hover {
  text-decoration: none;
}

.ctools-modal-content a {
  color: blue;
}
